@font-face {
    font-family:hero-bold ;
    src: url(fonts/Hero-Bold.ttf);
}
@font-face {
    font-family:hero-light ;
    src: url(fonts/Hero-Light.ttf);
}
@font-face {
    font-family:hero-regular ;
    src: url(fonts/Hero-Regular.ttf);
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    margin: -10px;
    padding: 10px;
    align-items: center;
    
}

.right-links {
    display: flex;
    margin-right: 3%;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
}

.right-links:active {
    text-decoration: none;
}

.right-links:visited{
    text-decoration: none;
}

.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right:auto;
    margin-left: 10%;
    
}



