@font-face {
    font-family: roboto-bold;
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto-regular;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: roboto-light;
    src: url(fonts/Roboto-Light.ttf);
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    margin: -10px;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    
}

.right-links {
    font-family: roboto-light;
    color: #E5E7EB;
    font-size:18px;
    display: flex;
    margin-right: 3%;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
}

.right-links:active {
    text-decoration: none;
}

.right-links:visited{
    text-decoration: none;
}

.logo {
    font-family: roboto-regular;
    color: #F9FAF8;
    font-size: 24px;
    font-weight:bold;
    margin-right:auto;
    margin-left: 10%;
    
}



